{% extends "layout.html" %}

{% block body %}
<h1>Ontario</h1>

<h2>Item list</h2>

  <table>
    <tr>
      <th>Item</th>
      <th>Volume</th>
      <th>Amount</th>
    </tr>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.volume }}</td>
      <td>{{ item.amount }}</td>
      <td>
          <form method="POST" action="{{ url_for('items_take_one', item_id=item.id) }}">
              <input type="submit" value=" - "/>
          </form>
      </td>
      <td>
          <form method="POST" action="{{ url_for('items_add_one', item_id=item.id) }}">
              <input type="submit" value=" + "/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}