{% extends "layout.html" %}

{% block body %}
<h1>Ontario</h1>

<h2>Item list</h2>

  <table>
    <tr>
      <th>Item</th>
      <th>Volume</th>
      <th>Amount</th>
    </tr>
    {% for warehouse_item in warehouse_items %}
    <tr>
      <td>{{ warehouse_item.item.name }}</td>
      <td>{{ warehouse_item.item.volume }}</td>
      <td>{{ warehouse_item.amount }}</td>
      <td>
          <form method="POST" action="{{ url_for('items_take_one', item_id=warehouse_item.id) }}">
              <input type="submit" value=" - "/>
          </form>
      </td>
      <td>
          <form method="POST" action="{{ url_for('items_add_one', item_id=warehouse_item.id) }}">
              <input type="submit" value=" + "/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}