<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8">
  <title>Warehouse</title>
</head>

<body>

  {% if current_user.is_authenticated %}
  <p>
    Logged in as {{ current_user.name }}. <a href="{{ url_for('auth_logout') }}">Log out</a>
  </p>
  {% else %}
  <a href="{{ url_for('auth_login') }}">Log in</a> or <a href="{{ url_for('auth_register') }}">Register</a>
  {% endif %}

  <div>
    <a href="/">Home</a> |
    <a href="/warehouses/">Warehouses</a> |
    <a href="{{ url_for('items_index') }}">List items</a> |
    <a href="{{ url_for('items_form') }}">Add an item</a> |
    <a href="{{ url_for('warehouses_form') }}">Add a warehouse</a> 
  </div>

  {% block body %}
  <p>
    replace
  </p>
  {% endblock %}
</body>

</html>