{% extends "layout.html" %} {% block body %}
<h1>Register</h1>

<form method="POST" action="{{ url_for('auth_register') }}">
  <table style="width:100%">
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>      
    </tr>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
          {{ form.username }}
      </td>
      <td>
          <ul>
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>      
    </tr>
    <tr>
      <td>
          {{ form.password.label }}
      </td>
      <td>
          {{ form.password }}
      </td>
      <td>
          <ul>
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>      
    </tr>
    <tr>
      <td>
          {{ form.confirm.label }}
      </td>
      <td>
          {{ form.confirm }}
      </td>  
    </tr>
  </table>
  <input type="submit" value="Register" />
</form>

{% endblock %}