{% extends "layout.html" %}

{% block body %}
<h1>Warehouses</h1>

<h2>List of warehouses</h2>

  <table>
    <tr>
      <th>Warehouse</th>
      <th>Volume</th>
      <th></th>
    </tr>
    {% for warehouse in warehouses %}
    <tr>
      <td>{{ warehouse.name }}</td>
      <td>{{ warehouse.volume }}</td>
      <td>
          <form method="GET" action="{{ url_for('warehouse_single', warehouse_id=warehouse.id) }}">
              <input type="submit" value=" view "/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}