{% extends "layout.html" %}

{% block body %}
<h1>Warehouses</h1>

  <table class="table table-sm table-hover" style="width: 50%">
    <tr>
      <thead class="thead-light">
        <th>Warehouse</th>
        <th>Volume</th>
        <th></th>
      </thead>
    </tr>
    {% for warehouse in warehouses %}
    <tr>
      <td>{{ warehouse.name }}</td>
      <td style="width: 40mm">{{ warehouse.filled_volume(warehouse.id) }} / {{ warehouse.volume }}</td>
      <td style="width: 20mm">
          <form method="GET" action="{{ url_for('warehouse_single', warehouse_id=warehouse.id) }}">
              <input type="submit" class="btn btn-primary" value=" view "/>
          </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}